/* ==================== */
/* = CUSTOM VARIABLES = */
/* ==================== */

:root {
    --abn-dark-green: #004c4c;
    --abn-green: #00A296;

    --primary-color: #005e5d;
    --secondary-color: #00857a;
    --accent-color: #ffd200;

    --primary-bg: #F9F9F9;
    --secondary-bg: #FFFFFF;

    --primary-font: "Roboto", sans-serif;
    --secondary-font: "Roboto Condensed", sans-serif;

    --content-width: 1300px;
}

/* ================== */
/* = GENERAL STYLES = */
/* ================== */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    max-width: 100vw;
}

body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;

    &:hover {
        text-decoration: underline;
    }
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--content-width);
    margin: auto;
}

.desktop-only {
    display: none;
}

@media screen and (min-width: 768px) {
    .desktop-only {
        display: inherit;
    }
}

.flex {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    .flex {
        flex-direction: row;
    }
}

.subflex {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width:1000px) {
    .subflex {
        flex-direction: row;
    }
}

/* ============== */
/* = TYPOGRAPHY = */
/* ============== */

body {
    font-family: var(--primary-font);
}

p {
    line-height: 1.5em;
}

.header-xl {
    font-family: var(--secondary-font);
    font-size: clamp(1.5rem, 8vw, 3rem);
    line-height: 3rem;
    font-weight: 400;
    color: var(--primary-color);
    padding-bottom: .5em;
}

.header-l {
    font-family: var(--secondary-font);
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 400;
}

.header-m {
    font-family: var(--secondary-font);
    line-height: 2rem;
    font-weight: 400;
    padding: .5em 0;
}

.header-s {
    font-family: var(--secondary-font);
    font-size: 1.125rem;
    line-height: 1.5em;
    margin: .5em;
}

.header-xs {
    font-family: var(--primary-font);
    font-size: 1rem;
    line-height: 1.5em;
    margin: .5em;
}

/* =============== */
/* = PRIMARY NAV = */
/* =============== */

.nav-primary {
    background-color: var(--primary-color);
    background-image: linear-gradient(-296deg, #005e5d, #00857a);
    color: white;

    ul {
        display: flex;
        gap: 0;
        align-items: stretch;
        list-style: none;

        li {
            min-width: max-content;
        }
    }

    a,
    button {
        padding-inline: 1em;
        display: flex;
        align-items: center;
        height: 100%;

        &:hover {
            background-color: #ffffff20;
            cursor: pointer;
            text-decoration: none;
        }
    }

    button {
        /* Remove default styling */
        appearance: none;
        background-color: unset;
        border: none;

        /* Typography */
        font-family: var(--primary-font);
        font-size: 1rem;
        color: white;
        position: relative;
    }

    .button-nav-primary {
        padding-right: 2em;
    }

    .button-nav-primary::after {
        display: block;
        position: absolute;
        background-image: url(../assets/arrow-down.svg);
        background-repeat: no-repeat;
        content: "";
        top: 25%;
        right: 0.25em;
        aspect-ratio: 1;
        height: 50%;
        transform: rotate(-180deg);
        transition: .3s;
    }

    li:has(nav.collapsed) > .button-nav-primary::after {
        transform: rotate(0deg);
        transform-origin: center;
        transition: .3s;
    }

    .search {
        height: auto;
    }

    .subnav {
        width: 100vw;
        position: absolute;
        left: 0;
        z-index: 1;
        background: #00675e linear-gradient(135deg, #005e5d 0, #00877d 58%, #00756f 58%, #009185 100%);
        color: white;
        min-height: 50vh;

        ul {
            display: block;
            padding: 2em;
        }

        button {
            font-family: var(--secondary-font);
            line-height: 2.5;
            font-size: 1.125rem;
            padding-inline: 0;
        }

        &:focus {
            background-color: red;
        }
    }

    .collapsed {
        display: none;
    }

    @media screen and (max-width: 768px) {
        .search {
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.50);
            clip-path: inset(0 0 0 -20px);
        }
    }

    .container {
        align-items: stretch;

        &>ul {
            height: 3rem;
            overflow-x: scroll;
            scrollbar-width: none;
        }
    }
}

.nav-secondary {
    padding: .5em 1em;
    background-color: white;
    color: var(--primary-color);

    ul {
        display: none;

        @media screen and (min-width: 768px) {
            display: block;
        }

        li {
            display: inline-block;
            margin-right: .25em;
        }

        li::after {
            margin-left: .5em;
            content: "|";
            opacity: 50%;
            color: grey;
        }

        li:last-child:after {
            content: "";
        }
    }

    .logo {
        margin-right: auto;

        img {
            height: 2rem;
            margin-top: .75em;
        }
    }
}

.nav-mobile {
    background-color: white;
    color: var(--primary-color);
}

.sign-in {
    background-color: var(--accent-color);
    color: black;

    display: flex;
    align-items: center;
    gap: .25em;

    border-radius: 2px;
    text-decoration: none;
    padding: .5em 1em;

    &:hover {
        text-decoration: none;
        background-color: #E8BF2B;
    }
}

/* ======== */
/* = MAIN = */
/* ======== */

main {
    background-color: var(--primary-bg);
    padding-bottom: 2rem;

    h1 {
        margin-bottom: .5em;
        margin-top: 1em;
    }

    @media screen and (min-width: 768px) {
        h1 {
            position: relative;
            left: -5vw;
        }
    }

    section {
        width: 100%;
        max-width: 40em;
    }

    .breadcrumb {
        display: block;
        width: var(--content-width);
        margin: 0 auto;
        padding: 1em;
    }

    .container {
        flex-direction: column;
        justify-content: start;
        gap: 1rem;
        max-width: var(--content-width);
        background-color: var(--secondary-bg);
        padding: 0 1em 4em 1em;
        box-shadow: 0 2px 2px 0 rgba(34, 34, 34, .08);
    }

    li {
        line-height: 1.5em;
    }
}

/* ========== */
/* = FOOTER = */
/* ========== */

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .secondary-footer-nav {
        max-width: 50%;

        li {
            display: inline-block;
            margin-right: .25em;
        }

        li::after {
            margin-left: .5em;
            content: "|";
            opacity: 50%;
            color: grey;
        }

        li:last-child:after {
            content: "";
        }
    }

    .container {
        flex-direction: column;
        align-items: flex-start;
    }

    section {
        width: 100%;
        padding: 2rem;
    }

    .button-help {
        background-color: var(--primary-color);
        margin: .5em 0;
        min-width: max-content;
    }

    .socials {
        display: inline-flex;
        list-style: none;
        gap: .25rem;
    }

    summary h3 {
        display: inline-block;
    }

    details {
        width: 100%;
    }

    .details-subsection {
        min-width: max-content;
    }
}

.footer-subsection {
    min-width: max-content;
    max-width: 20%;
    flex-grow: 0;

    ul {
        list-style: none;
        line-height: 2;

        li {
            min-width: max-content;
        }
    }

    a::before {
        content: "";
        background-image: url("../assets/arrow-right.svg");
        padding-right: 1.5em;
        background-repeat: no-repeat;
        position: relative;
        left: 0;
        transition: .2s all;
    }

    a:hover:before {
        left: .33em;
        transition: .1s all;
    }

}

.footer-help {
    background-color: var(--secondary-color);
    color: white;
}

.footer-nav {
    background-color: var(--primary-color);
    color: white;
}

.footer-socials {
    color: var(--secondary-color);
}

@media screen and (min-width: 768px) {
    .footer-socials .container {
        flex-direction: row;
    }
}

.social-button {
    background-color: #9b9b9b;
    height: 2rem;
    width: 2rem;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;

    &:hover {
        background-color: #17928C;
    }
}

.button-link {
    display: block;
    text-decoration: none;
    padding: .5em 1em;
}

/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    top: 0;
}

.visually-hidden:focus {
    clip: auto;
    clip-path: unset;
    height: auto;
    overflow: auto;
    position: absolute;
    width: auto;
    background-color: white;
}